# Database
DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@db.YOUR_PROJECT_REF.supabase.co:5432/postgres
FRONTEND_URL=http://localhost:5173

EMAIL_USER=your.gmail@gmail.com
EMAIL_PASS=your_gmail_app_password